body {
    background: linear-gradient(135deg, #0f9a41, #024f1c);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.box {
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    padding: 45px 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}

.icon {
    font-size: 85px;
    margin-bottom: 10px;
}

.success {
    color: #00ff72;
}

h2 {
    margin-top: 5px;
    font-size: 28px;
    font-weight: 600;
}

p {
    font-size: 17px;
    margin: 12px 0 30px;
}

.btn-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s;
}

.home {
    background: #2980b9;
    color: #fff;
}

.home:hover {
    background: #1f5d82;
}

.result {
    background: #d35400;
    color: #fff;
}

.result:hover {
    background: #9f3a00;
}
